# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Flask
instance/
.webassets-cache

# Environment variables
.env
.env.*

# Local databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build / Dist
build/
dist/
*.egg-info/
